body {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
    grid-template-areas: 
    "nav nav nav nav"
    "sidebar main main main"
    "sidebar content1 content2 content3"
    "sidebar footer footer footer";
    grid-column-gap: o.2 rem;
    
}


nav {
    background-color: #a0ee45;
    grid-area: nav;
}

#sidebar {
    background-color: #90d63e;
    grid-area: sidebar;
}

#content1 {
    background-color:  #73ab31;
    grid-area: content1;
}

#content2 {
    background-color: #badd91;
    grid-area: content2;
}

#content3 {
    background-color: #b3f16a;
}

main {
    background-color: #507722;
    grid-area: main;
}

footer {
    background-color: #cff6a2;
    grid-area: footer;
}